body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: 100% 100%;
    color: black;
  }

  /*admin sign in css*/
  .login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border: 1px solid black;
    padding: 50px;
    padding-top: 0;
    border-radius: 5px;
  }
  .login-box h1 {
    color: black;
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #0093e9;
    margin-bottom: 40px;
    padding: 11px 0;
    padding-top: 0;
  }
  .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 20px 0;
    background-color: aliceblue;
  }
  .textbox input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0 10px;
  }
  .btn {
    width: 100%;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 23px;
    margin: 12px 0;
    transition: 0.3s;
    background-color: #0093e9;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #0093e9;
    background-color: white;
  }
  
  body a {
    color: rgb(27, 11, 11); 
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
  
