footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.23em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  margin-bottom: 10px;
}

.col-md-4 {
  float: left;
  width: 33.33%;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-md-4 {
    width: 100%;
    float: none;
  }
}

.social-media {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li a {
  color: #fff;
  text-decoration: none;
}

.social-media li a i {
  margin-right: 5px;
}
/* Sticky Footer Styling */
body {
  min-height: 100vh;
}
.sticky-footer {
  position: sticky;
  top: 100%;
}
a,
a:visited {
  text-decoration: none;
  color: #fff;
}
.links {
  padding-top: 0px;
}
